.git
.idea
.pytest_cache
*.pyc
*.log
*.ini
*.txt
*.lock

venv
__pycache__

backend/.idea
backend/.vscode
backend/output/logs/*.log
backend/output/logs/*.lock
backend/output/logs/*.zip
backend/migrations/models/*.py
backend/.env

frontend/.idea
frontend/.vscode
frontend/node_modules
