# 安全认证
AUTH_SECRET_KEY=""
AUTH_TEMPORARY_TOKEN=""

# MySQL（生产环境）
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_NAME=""
DATABASE_USERNAME=""
DATABASE_PASSWORD=""

# MySQL（开发环境）
DEV_DATABASE_HOST=""
DEV_DATABASE_PORT=""
DEV_DATABASE_NAME=""
DEV_DATABASE_USERNAME=""
DEV_DATABASE_PASSWORD=""

# Redis（生产/开发）
REDIS_USERNAME=""
REDIS_PASSWORD=""
REDIS_HOST=""
# REDIS_PASSWORD=""
# REDIS_HOST=""
REDIS_PORT=""

# Celery（生产环境）
CELERY_BROKER_DB=
CELERY_BACKEND_DB=
CELERY_REDBEAT_DB=

# Celery（开发环境）
DEV_CELERY_BROKER_DB=
DEV_CELERY_BACKEND_DB=
DEV_CELERY_REDBEAT_DB=

# Oracle Instance Client
# 连接模式(thick/thin): thin不兼容11g/部分12.1；连11g需InstantClient19；Client21仅支持DB12.1+，Client23仅支持DB19+
ORACLE_CLIENT_MODE=thick
# Oracle Instant Client目录：MacOS/Windows一般必填；Linux可用ldconfig/LD_LIBRARY_PATH时可留空
ORACLE_CLIENT_PATH=
